.header {
  background-color: #5d6d7e;
  padding: 20px;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  vertical-align: center;
}

.navigation {
  background-color: #aeb6bf;
  padding: 20px;
  height: 10px;
  justify-content: space-between;
  align-items: center;
  vertical-align: center;
}

.body {
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.form {
  border: 1px solid black;
  padding: 5px;
  width: 500px;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.list {
    text-align: left;
    padding: 5px;
    border-spacing: 15px 0;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
