.header {
  background-color: #5d6d7e;
  padding: 20px;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  vertical-align: center;
}

.navigation {
  background-color: #aeb6bf;
  width: 100px;
  padding: 5px;
  float: left;
  height: 1000px;
}

.navigationlink {
  display: block;
  padding: 10px;
  color: black;
  &:hover {
    background-color: #ddd;
  }
}

.loader {
    display: flex;
    alignItems: center;
}

.body {
  margin-left: 115px;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}

.form {
  border: 1px solid black;
  padding: 5px;
  width: 500px;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.list {
    text-align: left;
    border-collapse: collapse;
}

.itemhead {
    background-color: #bbd8e7;
}

.itemrow:nth-child(even) {
    background-color: #f2f2f2;
}

.itemcell {
    padding-block: 5px;    
    padding-inline: 20px;
}
